<div class="col-sm-5">
    <div class="single-contact-box">
        <div class="contact-form">
            <h3>Leave us a Massage Here</h3>
            <form id="contact-form" method="post" role="form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-group">
                            {{form.name}}
                        </div><!--/.form-group-->
                    </div><!--/.col-->
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-group">
                            {{form.email}}
                        </div><!--/.form-group-->
                    </div><!--/.col-->
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-group">
                            {{form.phone}}
                        </div><!--/.form-group-->
                    </div><!--/.col-->
                </div><!--/.row-->
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-group">
                            {{form.subject}}
                        </div><!--/.form-group-->
                    </div><!--/.col-->
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-group">
                            {{form.message}}
                        </div><!--/.form-group-->
                    </div><!--/.col-->
                    <div class="col-sm-12 col-xs-12">
                        <input type="submit" id="contact-submit" class="btn btn-transparent"
                            value="Submit">
                    </div>
                </div><!--/.row-->
            </form><!--/form-->
        </div><!--/.contact-form-->
    </div><!--/.single-contact-box-->
</div><!--/.col-->