{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--about-part start-->
<section class="about-part service-part">
	<div class="container">
		<div class="about-part-details text-center">
			<h2>Products</h2>
			<div class="about-part-content">
				<div class="breadcrumbs">
					<div class="container">
						<ol class="breadcrumb">
							<li><a href="{% url 'home' %}">home</a><span>//</span></li>
							<li><a href="{% url 'products' %}">Products</a></li>
						</ol><!--/.breadcrumb-->
					</div><!--/.container-->
				</div><!--/.breadcrumbs-->
			</div><!--/.about-part-content-->
		</div><!--/.about-part-details-->
	</div><!--/.container-->

</section><!--/.about-part-->
<!--about-part end-->

{% include 'product-section.html' %}

{% endblock %}