<!--service start-->
<section class="service">
	<div class="container">
		<div class="service-details">
			<div class="section-header text-center">
				<h2>our services</h2>
				<p>
					Pallamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
					voluptate velit esse cillum dolore eu fugiat nulla pariatur.
				</p>
			</div><!--/.section-header-->
			<div class="service-content-one">
				<div class="row">
					{% for service in services %}
					<div class="col-sm-4 col-xs-12">
						<div class="service-single text-center">
							<div class="service-img">
								<img src="{{service.service_image.url}}" alt="image of service" />
							</div><!--/.service-img-->
							<br>
							<div class="service-txt">
								<h2>{{service.name}}</h2>
								<p>{{service.desc|slice:200}}</p>
								<a href="#" class="service-btn">
									learn more
								</a>
							</div><!--/.service-txt-->
						</div><!--/.service-single-->
					</div><!--/.col-->
					{% endfor %}
				</div><!--/.row-->
			</div><!--/.service-content-one-->
		</div><!--/.service-details-->
	</div><!--/.container-->

</section><!--/.service-->
<!--service end-->